/* #create-task{
    position:absolute;
    background-color: white;
    width:90%;
    border-radius: 10px;
    border:none;
    margin:2% 5%;
    padding:3% 5%;
    z-index:5;
} */
/* #cancel{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    width:15%;
    padding:5% 1.5%;
    border:none;
    border-radius: 20%;
    margin-left: 86%;
    cursor:pointer;
} */
/* #cross-line-1{
    width:64%;
    border:2px solid black;
    height:1%;
    margin:-4% 0%;
    background-color:black;
    border-radius: 20px;
    transform: rotate(50deg);
}
#cross-line-2{
    width:64%;
    border:2px solid black;
    height:1%;
    margin:-4% 0%;
    transform: rotate(-50deg);
    background-color:black;
    border-radius: 20px;
} */
#heading{
    margin:2% 0%;
}
hr{
    margin:0% 0% 3% 0%;
}
.newtask-label{
    font-size: 20px;
    color: grey;
}
.task-details{
    width:100%;
    border-radius:10px;
    border:2px solid grey;
    padding:2% 3%;
    font-size:20px;
    margin:2% 0% 3% 0%;
}
#task-category{
    width:62%;
    border-radius:10px;
    border:2px solid grey;
    padding:1% 3%;
    font-size:20px;
    margin:2% 3% 3% 0%;
}
#selected{
    background-color: white;
    border-radius:15px;
    border:2px solid grey;
    padding:2% 2%;
    font-size: 15px;
}
#add-btn{
    font-size:20px;
    margin:5% 25% 2% 25%;
    background-color: green;
    color:white;
    border:2px solid white;
    outline:none;
    padding:7px 0px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px black;
}
#add-img{
    margin-right:10%;
    width:15%;
    height:10%;
}
