#container{
    position: fixed;
    justify-content: center;
    width:70%;
    flex-direction: column;
    background-color: #ebeef1;
    margin-left:100%;
    padding:3% 4%;
    border-radius: 20px;
    transition: margin 0.5s linear;
    box-shadow: 10px 10px 10px -1px rgb(10, 99, 169, 0.16), -10px -10px -10px -1px rgb(255, 255, 255, 0.70);
    z-index:5;
}
#container.active{
    display:flex;
    margin-left:29%;
    transition: margin 0.5s linear;
}
.active{
    background-color: rgb(184, 184, 184);
    border-radius:10px;
}
.links{
    display:flex;
    align-items: center;
    text-decoration: none;
    color:black;
    font-size:20px;
    cursor:pointer;
    margin:2% 0%;
    padding:2% 0%;
}
#add-task{
    border:none;
    border-radius:10px;
    padding:3% 5%;
}
#add{
    border:2px dashed black;
    width:15%;
    border-radius: 15px;
    height:15%;
    margin-right:10%;
}
#home{
    width:10%;
    height:10%;
    margin-left:5%;
    margin-right:12%;
}
#about{
    margin-right:7%;
}
#about,#ongoing,#hourly,#daily,#monthly{
    width:20%;
    height:20%;
    margin-right:6%
}
#weekly{
    width:15%;
    height:15%;
    margin-right:11%;
}
#yearly{
    width:13%;
    height:13%;
    margin-left:2%;
    margin-right:10%;
}
#completed{
    width:10%;
    height:8%;
    margin-left:5%;
    margin-right:10%;
}